@page
@model MoniModel

namespace Diamonds.Pages;

<div class="text-center">
    <h1 class="display-4">Mónica Guzmán</h1>
    <h2>Invocador de algoritmos</h2>
    <img src="~/Linkedin picture.png" height="200px"/>
</div>
