@page
@model ReginaModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Soy Regina. Soy arquera de Front</h1>
    <img src="~/imagenes/Pikachu.jpg" class="img size100"/>
</div>
