@page
@model GaliModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Soy Gali, Soy arquera</h1>
     <img src="~/imagenesgali/gali.png" class="img size100"/>
    
</div>
